description = "Shows the client area sign in form"

[viewBag]
snippetCode = "login-module"
snippetName = "Sign in module"
snippetProperties[redirect|type] = "string"
snippetProperties[redirect|title] = "Redirection page"
snippetProperties[redirect|default] = "/clients"
==
{% if user %}
    <p>You are logged in</p>
    <p>
        <a href="{{ 'clients'|staticPage }}" class="btn btn-default">
            Access Client Area
        </a>
    </p>
{% else %}
    {{ form_ajax('onSignin', {
        redirect: 'clients'|staticPage,
        class: 'module-form'
    }) }}
        <label>{{ loginAttributeLabel }}</label>
        <input type="text" name="login" value="" class="text" />

        <label>Password</label>
        <input type="password" name="password" value="" class="text" />
        <button type="submit" class="submit">Sign in</button>
    {{ form_close() }}

    <div class="row">
        <div class="col-md-6">
            <a href="{{ 'forgot-password'|page }}">
                Forgot password?
            </a>
        </div>
        <div class="col-md-6 text-right">
            <a href="{{ 'account'|page }}">
                Sign up
            </a>
        </div>
    </div>
{% endif %}